body {
    margin: 0;
}
header {
    text-align: center;
}
.container {
    width: 90%;
    margin: auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    border-top: 1px solid black;
}
.note {
    background: yellow;
    padding: 1em;
    width: 50%;
    margin: 1em auto;
    box-sizing: border-box;
}

/* typography */
strong {
    font-family: 'Courier New', Courier, monospace;
}